[submodule "vim/bundle/syntax-css"]
	path = vim/bundle/syntax-css
	url = https://github.com/xenoterracide/css.vim.git
[submodule "vim/bundle/syntax-js"]
	path = vim/bundle/syntax-js
	url = https://github.com/othree/javascript-syntax.vim.git
[submodule "vim/bundle/comment"]
	path = vim/bundle/comment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/syntax-gist"]
    path = vim/bundle/syntax-gist
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/syntax-markdown"]
	path = vim/bundle/syntax-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/syntax-html5"]
	path = vim/bundle/syntax-html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
