<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>(c)</string>
		<key>with</key>
		<string>©</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>(r)</string>
		<key>with</key>
		<string>®</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>(p)</string>
		<key>with</key>
		<string>℗</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>TM</string>
		<key>with</key>
		<string>™</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>c/o</string>
		<key>with</key>
		<string>℅</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>...</string>
		<key>with</key>
		<string>…</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>1/2</string>
		<key>with</key>
		<string>½</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>1/3</string>
		<key>with</key>
		<string>⅓</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>2/3</string>
		<key>with</key>
		<string>⅔</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>1/4</string>
		<key>with</key>
		<string>¼</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>3/4</string>
		<key>with</key>
		<string>¾</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>1/8</string>
		<key>with</key>
		<string>⅛</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>3/8</string>
		<key>with</key>
		<string>⅜</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>5/8</string>
		<key>with</key>
		<string>⅝</string>
	</dict>
	<dict>
		<key>replace</key>
		<string>7/8</string>
		<key>with</key>
		<string>⅞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:command:</string>
		<key>with</key>
		<string>⌘</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:option:</string>
		<key>with</key>
		<string>⌥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:control:</string>
		<key>with</key>
		<string>⌃</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:escape:</string>
		<key>with</key>
		<string>⎋</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:shift:</string>
		<key>with</key>
		<string>⇧</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:eject:</string>
		<key>with</key>
		<string>⏏</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:infinity:</string>
		<key>with</key>
		<string>∞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:ne-arrow:</string>
		<key>with</key>
		<string>⤤</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:bullet:</string>
		<key>with</key>
		<string>•</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:geq:</string>
		<key>with</key>
		<string>≥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:lt:</string>
		<key>with</key>
		<string>&lt;</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:gt:</string>
		<key>with</key>
		<string>&gt;</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:leq:</string>
		<key>with</key>
		<string>≤</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:neq:</string>
		<key>with</key>
		<string>≠</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:rfinger:</string>
		<key>with</key>
		<string>☞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:lfinger:</string>
		<key>with</key>
		<string>☜</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:ufinger:</string>
		<key>with</key>
		<string>☝</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:dfinger:</string>
		<key>with</key>
		<string>☟</string>
	</dict>
</array>
</plist>
